.apresentacao {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.apresentacao h1 {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: #FA240F;
}

.apresentacao h2 {
    font-family: 'Roboto', cursive;
    text-align: center;
    font-size: 24px;
    color: #FA240F;
    padding: 0 50px 0 50px;
}

.apresentacao .botoes{
    margin: 30px;
    font-size: 20px;
}

.apresentacao h3 {
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    color: #FA240F;
}

.apresentacao h4 {
    color: #FA240F;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}