.home_page {
    padding: 20px;
    width: 100%;
}

.search_section {
    display: flex;
    justify-content: space-between;
}

.search_bar {
    border: 2px solid #FA240F;
    border-radius: 1em;
    text-align: center;
    display: flex;
    height: 40px;
    overflow: hidden;
    position: relative;
}

.search_icon {
    color: #FA240F;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.search_bar input {
    border: none;
    outline: none;
    padding: 0 20px;
}

.lanchonetes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 765px) {
    .lanchonetes {
        justify-content: center;
    }
}